{% extends "base.html" %} 

{% block title %}Django SaaS{% endblock %} 

{% block body %}

<section class="bg-blue-600 h-screen flex justify-center items-center">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 max-w-lg sm:min-h-screen"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-white"
    >
      Django SaaS
    </a>
    <div class="w-full bg-white rounded-lg shadow">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Payment made successfully
        </h1>
        <div class="fill-emerald-600 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="fill-emerald-600" class="w-14 h-14 mr-4">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
          </svg>
          <p>Your payment has been successfully processed</p>
        </div>
        <a href="{% url 'core:dashboard' %}" class="btn btn-primary w-full">Go to dashboard</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
